/* Don't change the existing CSS. */

.box {
  background-color: blue;
  padding: 10px;
}

p {
  color: yellow;
  margin: 0;
  padding: 0;
}

#outer-box{
  border: solid 10px maroon;
}
p{
  font-size: 20px;
  color: yellow;
}

.white-text{
  color: white;
}

.inner-box{
  background-color: red;
}